*{
	margin:0;
	padding: 0;
}
body{
	background: #e6e6e6;
}

header, .main,h1{
	
	width: 80%;
	margin: auto;
}

header nav{
	background:#528FD5;
	overflow: hidden;
}

h1{
	text-align: center;
	background: #439A7A;
	font-size: 45px;
}

header nav ul li{
float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

header nav ul{
	list-style: none;
	}

section ul li a{
	list-style: none;
}

.main.articles, ul, li,h3,a{
	list-style: none;
	text-align: center;
	line-height: 25px;
	font-size: 18px

}
.main .articles{
	width: 80%;
	float: left;
	background: white;
	padding: 10px;
}

h3{
	font-size: 22px;
}

