*{
	margin:0;;
	padding: 0;
}
body{
	background: #e6e6e6;
}

header, .main, footer,h1{
	
	width: 80%;
	margin: auto;
}

header nav{
	background: #528FD5;
	overflow: hidden;
}
h1{
	text-align: center;
	background: #439A7A;
	font-size: 45px;
}
header nav ul{
	list-style: none;
}

header nav ul li{
float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.main .articles{
	width: 70%;
	float: left;
}
