*{
	margin:0;;
	padding: 0;
}
body{
	background: #e6e6e6;
}

header, .main,h1{
	
	width: 90%;
	margin: auto;
}

header nav{
	background:#528FD5;
	overflow: hidden;
}
h1{
	text-align: center;
	background: #439A7A;
	font-size: 45px;
}
header nav ul{
	list-style: none;
}

header nav ul li{
float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.main .articles{
	width: 80%;
	float: left;
	background: white;
}

.main .articles .article {
	padding: 10px;
	background: white;
	margin-bottom: 30px;
}


aside{
	background: orange;
	font-size: 20px;
	padding: 61px;
}

footer{
	background: black;
	color: white;
}